*{
    padding: 0;
    margin: 0;
    /* background-color: lightslategray; */
}



div{
    height: 70vh;
    width: 60vw;
    /* background-color: blue; */
    margin: 20px auto;
    border: 2px solid red;
}

/* h1 ka initial color ho jaye */
h1{
    color: chartreuse;
}


/* h1 m jo media query likha hai wo screen choti hone pe color change ho jaye uska.. */
/* @media ke baad device(print/printer ke liye) and jab width 700px ho jaye tab h1 ka color ho jaye... */
/* @media print and (width:700px){
    h1{
        color: rgb(255, 0, 230);
    }
} */

/* screen ke liye */
/* 700 tak sare ho iske liye max-width....700 pe pink and uske niche bhi pink. div and h1 dono pe chalega */
/* @media screen and (max-width:700px){
    div , h1{
        color: rgb(255, 0, 230);
        border: 2px solid orange;
    }
} */

/* 700 px tak...uske upar change */
/* @media screen and (min-width:700px){
    div , h1{
        color: rgb(255, 0, 230);
        border: 2px solid orange;
    }
} */


/* media query landscape ke hisab se...ise kehte hai orientation...landscape m width will be bigger than the height...   */
/* @media screen and (orientation: landscape){

    h1{
        font-size: 100px;
    }
}*/

/* portrait m jate hi pink color */
/* 
@media screen and (orientation: portrait){

    h1{
        font-size: 100px;
        color: pink;
    }
} */


/* DO REMEMBER THIS JAB max-width likhte hai toh..bade wale range(900px, 700px, 600px...ye wale) upar then chote wale...then usse chote wale
and in case of min-width...chote(600, then 700, then 800) units ko upar then usse bade wale... */

/* agr screen hogi toh...and uski max-width 700 hogi toh h1 ka color purple */
@media screen  and (max-width:700px) {
    h1{
        color: purple;
    }
}

@media screen  and (max-width:1000px) {
    
    h1{
        color: red;
    }
}