<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Showing a particular product</h1>
  <!-- found comment is an object...toh ispe .notation(foundComment. means jo bhi properties hai) -->

  <div>
    <h1><%=foundComment.id%></h1>
    <h2><%=foundComment.username%></h2>
    <P><%=foundComment.comment%></P>
  </div>
  
</body>
</html>