
<!--  Now DRY principle ko follow karna hai..yha nai ho raha cuz boiler plate ka head wala hissa common hai..wahi stylesheet, wahi bootstrap add karna baar-baar...so views ke andar we'll make a folder "partials" -->
<!-- partials ke andar header.ejs, footer.ejs -->
<!-- Now horror.ejs se header ka pura part utha lenge -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--This is my bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <!--This is my style-->
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
  



