*{
    padding: 0;
    margin: 0px;
}

section{
    margin: 20px;
    border: 1px solid red;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}



/* #static #middle{
    position: static;
    top: 5000px;
    left: 5000px
}

#relative #middle{
    position: relative;
    top: 50px;
    bottom: 100px;
    left: 50px;
    right: 50px;
} */

/* static position nahi dete baki koi bhi de dete hai...ab ye most recent parent position ke respect m niche jayega...and hamne parent ko position kiya tha absolute...and absolute hamara section tha..toh ab section se 100px niche ayega... */
/* #absolute{
    position: relative;
} */


/* body{
    border: 5px solid green;
}


/* section ka naam id rakha hai...absolute and absolute m middle */
/* body se 100px liya cuz is middle ke parent ke paas nahi tha...  */
/*
#absolute #middle{
    position: absolute;
    
    top: 100px;
    left: 200px;

} */

/* parent fixed tha ise position de dete hai....ab kiske corresponding ayega ? parent ke ? No...abhi bhi body. 
Cuz in case of fixed..parent ko position do ya na do...wo hamesha body ke corresponding ata hai. 
offset hamesha body ke corresoponding ata hai in case of fixed. Use case: Jab ham chahte hai scroll karne pe chize upar na jaye. */
/* #fixed{
    position: relative;
} */

/* #fixed #middle{
    position: fixed;
    top: 100px;
} */

/* parent ke andar jagah nahi hogi...toh fixed wala kaam nahi karega...height hogi toh kaam karega */
/* #sticky{
    height: 500px;
}
*/


/* isme offset bhi provide kar diya...top se 100px */
/* 
#sticky #middle{
    position: sticky;
    top: 100px;
} */