<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>starss</h1>
  <!-- star wale page ko show karana hai index.js ki help se -->

  <!-- arr ka access yha pe aa gya...star wale route se bheja index.js se... Uspe for loop lga denge -->

   <% for(let item of arr){ %>
    <li><%= item %></li> <!--item ko print karna hai toh evaluate kiya-->
   <% } %>

   <% for(let item of arr2){ %>
    <%= item %> <!--item ko evaluate kiya-->
   <% } %>

</body>
</html>