<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--Public tak ka path to pta hai but yha kn sa path ayega? css ke andar style.css-->
  <link rel="stylesheet" href="/css/style.css"> 
  
</head>
<body>
  
  <h1>Whatever file by Ashish Ranjan</h1>
  <!-- We want to design this file...so we need css here(in views)..so link kar denge css but path kya hoga ? Public tak ka path to pta hai  -->

</body>
</html>











