
button{
  background: none;
}

i{
  font-size: 1.6rem;
  cursor: pointer;
}

#progress{
  cursor: pointer;
}

#container{
  width: 360px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  /* Ye reference point banata hai...Neeche jo play-section hai..Wo absolute hai...Absolute child parent ke relative move karega */
  position: relative; 
  border: 2px solid black;
}

#play-section{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.ash{
  width: 360px;
  padding: 10px 0;
}

.song-item{
  border: 1px solid black;
  width: 60%;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  list-style: none;
}

.song-item:hover{
  background-color: rgb(151, 148, 148);
}

